*.o
*.out
/build/
/bin/
.vscode/
*.exe
*.obj
*.pdb
.gradle/
.android/
android-sdk/
.idea/
**/build/
**/.cxx/
**/.externalNativeBuild/
local.properties
captures/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
data/*
!data/README.md
